<p id="notice"><%= notice %></p>

<p>
  <strong>Started:</strong>
  <%= @roll_call.started %>
</p>

<p>
  <strong>Ended:</strong>
  <%= @roll_call.ended %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @roll_call.duration %>
</p>

<p>
  <strong>Description:</strong>
  <%= @roll_call.description %>
</p>

<p>
  <strong>Group:</strong>
  <%= @roll_call.group_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @roll_call.user_id %>
</p>

<%= link_to 'Edit', edit_roll_call_path(@roll_call) %> |
<%= link_to 'Back', roll_calls_path %>
