<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @group.name %>
</p>

<p>
  <strong>Created:</strong>
  <%= @group.created %>
</p>

<p>
  <strong>Last activity:</strong>
  <%= @group.last_activity %>
</p>

<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Back', groups_path %>
